{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": ["standard-with-typescript", "plugin:astro/recommended"],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"],
        "project": ["./tsconfig.json"]
      },
      "rules": {}
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "semi":["error", "always"],
    "object-curly-spacing": ["error", "never"],
    "quotes": ["error", "single"]
  }
}
