{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "color-no-hex": true,
    "color-function-notation": "modern",
    "function-allowed-list": ["hwb", "hsl", "hsla", "clamp", "var", "repeat"],
    "hue-degree-notation": "number"
  }
}
