---
import './style.scss';
import Head from '../../components/Head.astro';
import PageSection from '../commons/PageSection.astro';
import type {Page, Section} from '../../base/interfaces';

const {head, sections} = Astro.props as Page;
---

<!DOCTYPE html>
<html lang="en">
  <Head data={head} />

  <body>
    <main>
      {
        sections.map((section: Section) => (
          <PageSection components={section.components} />
        ))
      }
    </main>
  </body>
</html>
