
:root {
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --color-text: var(--black);
  --color-bg: var(--white);
  --color-border: var(--monochrome-4);
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

body {
  font-size: var(--font-size-base);
  margin: 0;
}

h1 {
  font-size: var(--font-size-xl);
  color: var(--color-text);
}

h2 {
  font-size: var(--font-size-lg);
}
