*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-family);
  font-size: 16px;
}

body {
  font-size: var(--font-size-large);
  line-height: 1;
  margin: 0;
}

article,
aside,
figcaption,
figure,
footer,
nav,
section {
  display: block;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul {
  list-style: none;
}
