*, ::before, ::after {
  box-sizing: border-box;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-family-regular);
  font-size: 16px;
}

body {
  font-size: var(--font-size-large);
  margin: 0;
}

h1 {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-hero);
  color: var(--black);
}

h2 {
  font-size: var(--font-size-large);
}
