---
import Base from '../layouts/base/base.astro';

const data = {
  head: {
    metadata: {
      title: 'Diego Navarro',
      description: 'The page description'
    },
    links: {
      canonical: ''
    }
  }
};
---
<Base data={data}>
<h1>Diego Navarro</h1>
<p>I'm a oftware engineer.</p>
</Base>
